body {
  font-family: Verdana, Helvetica;
  /* background-color: #383d4f; */
  /* background-color: rgb(150, 146, 146); */
  padding: 0;
  margin: 0;
  color: #383d4f;
  background: linear-gradient(50deg, #a9c5be, #10172f, #d3d4d8);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 26s ease infinite;
  -moz-animation: AnimationName 26s ease infinite;
  animation: AnimationName 26s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}

h1 {
  align-self: center;
  color: #383d4f;
  font-size: 2rem;
}

.entire-box {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
}

/* Navbar */
#nav-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  padding-bottom: 5px;
  color: whitesmoke;
}
