body {
  font-family: Verdana, Helvetica;
  color: black;
  padding: 0;
  margin: 0;
  background-color: gray;
  --main-blue: #1b51b6;
  --project-background: rgb(132, 141, 165);
  --dark-text: navy;
  --light-text: whitesmoke;
}
.entire-box {
  display: flex;
  flex-direction: column;
}
/* all h1 tags */
h1 {
  align-self: center;
  color: var(--dark-text);
  font-size: 2rem;
}

h3 {
  align-self: center;
  color: var(--dark-text);
  font-size: 1.5rem;
}

/* ALL LINKS THROUGHOUT */
a:hover.landing__links,
a:hover.project-links-icon,
a:hover.contact-icons {
  color: #da1e85;
}
