.all-project-wrapper {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  /* justify-content: center; */

}

/* Desktop */
@media screen and (min-width: 600px) {
  .all-project-wrapper {

    padding: 1rem;
  }
}
